.color-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem 1rem;
  box-shadow: 1px 1px 5px #1f1235;
  border-radius: 1rem;
}
.color-card__hex {
  cursor: pointer;
  text-shadow: 2px 2px 6px #1f1235;
  font-size: 1rem;
}
.color-card__btn {
  filter: drop-shadow(2px 2px 6px #1f1235);
}
.svg__close {
  font-size: 1.3rem;
}
