.icon {
  font-size: 1.3rem;
  cursor: pointer;
  filter: drop-shadow(1px 1px 3px #2e2e2e);
}

.icon-copy-outline {
  transition: all 1s ease;
  display: block;
}
.icon-copy-outline:active {
  display: none;
}
.icon-copy {
  transition: all 1s ease;
  display: none;
}
.icon-copy-outline:active + .icon-copy {
  display: block;
}
