@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

.main_header {
  background-image: url(https://images.pexels.com/photos/3209473/pexels-photo-3209473.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
}
.container {
  max-width: 1200px;
  margin: auto;
}
.container__main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 1rem;
}

/* Network status */

.status {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 5px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  font-family: cursive;
  color: #fff;
}
.online {
  background-color: #57af0e;
}
.offline {
  background-color: #c94738;
}

/* Alert copy */

.alert {
  position: fixed;
  left: calc(50% - 3.25rem);
  top: 1rem;
  padding: 0.2rem 0.6rem;
  background: rgba(0, 0, 0, 0.21);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: white;
  text-shadow: 1px 1px 6px #1f1235;
}

@media (prefers-color-scheme: dark) {
  .alert {
    background: rgba(255, 255, 255, 0.21);
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
}
