.main_header {
  background-image: url(https://images.pexels.com/photos/3209473/pexels-photo-3209473.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
}
.container {
  display: grid;
  grid-template-areas: "content content content content content aside";
  max-width: 1200px;
  margin: auto;
}
.container__main {
  grid-area: content;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.container__aside {
  grid-area: aside;
  padding: 1rem;
}
@media screen and (max-width: 920px) {
  .container {
    grid-template-areas:
      "content content content"
      "aside aside aside";
  }
}

/* Network status */

.status {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 5px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  font-family: cursive;
  color: #fff;
}
.online {
  background-color: #57af0e;
}
.offline {
  background-color: #c94738;
}

/* Alert copy */

.alert {
  position: fixed;
  left: 40vw;
  top: 1rem;
  font-family: cursive;
  border-radius: 1rem;
  background-color: #ff6e6c;
  box-shadow: 1px 1px 3px #1f1235;
  padding: 0.2rem 0.6rem;
}
